.custom-login-btn {
    background-color: #00adee;
    border-color: #00adee;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .custom-login-btn:hover {
    background-color: #008bbf;
    border-color: #008bbf;
  }
  